.signup {
    height: calc(100vh - 100px);
    display: flex;
}
.signup > .inner {
    padding: 30px;
}

.form-group {
    margin: 15px;
}

.form-group > input {
    height: 25px;
}
.navbar {
    display: flex;
    justify-content: space-between;
}
.navbar .right-side {
    margin-right: 30px;
}

li:hover > a, a.btn:hover {
    cursor: pointer;
    color: gray;
}